@use '../../custom' as *;
@use '../../components/mixin' as *;

#benefits {
    background-color: $bg-color-light;
    padding-top: 2rem;

    .img-fluid {
        width: 17.4375rem;
        text-align: left;

        @include media-breakpoint-up(md) {
            width: unset;
        }
    }

    #mental-health {
        margin-top: -6px;
    }

    #grades {
        margin-top: -20px;
        margin-bottom: 10px;
    }

    h3 {
        margin-top: 1.5625rem;
        margin-bottom: 0.75rem;
    }
}
