@use '../../custom' as *;
@use '../../components/mixin' as *;

header {
    .container {
        padding-top: 5.9375rem;

        h1 {
            margin-top: 4.0625rem;
        }
    }

    background-color: $bg-color;

    hr {
        margin-top: -3px !important;

        &.d-lg-block {
            margin-top: -1px !important;
        }
    }
}
