@use "../../custom" as *;
@use "../../components/mixin" as *;

header {
    .container {
        padding-top: 5.9375rem;

        h1 {
            margin-top: 4.0625rem;
        }
    }

    background-color: $bg-color;

    hr {
        margin-top: -1px !important;

        &.d-lg-block {
            margin-top: -1px !important;
        }

        @include media-breakpoint-between(sm, lg) {
            position: absolute;
            left: 0;
            top: 477px;
        }
    }
}
