@use '../custom' as *;
@use '../components/mixin' as *;

footer {
    &.footer-1 {
        padding-top: 2rem;
        padding-bottom: 1rem;

        .services {
            li {
                width: 0;
                white-space: nowrap;
            }
        }
        ul {
            list-style-type: none;
            padding: 0rem;
            margin-top: 0.3125rem;
        }
        li {
            a {
                text-decoration: none;
                font-weight: initial;
                @include create-typography(0.625rem, 1rem, $nunito-sans-font, 300, $paragraph-color);
                margin-bottom: 0;
            }
        }
        a {
            @include create-typography(0.625rem, 0.875rem, $nunito-sans-font, 700, $heading-color);
            text-decoration: none;
            display: flex;
            margin-bottom: 0.4375rem;
        }
        .logo {
            @include media-breakpoint-up(xl) {
                padding-left: 4rem;
            }
        }
        .logo > a {
            @include create-typography(1.125rem, 0.875rem, $exo-font, 700, $leaftech-logo-color);
            letter-spacing: 1px;
            margin-top: 4px;

            @include media-breakpoint-up(md) {
                margin-top: 0;
            }
        }

        @include media-breakpoint-up(md) {
            .menu {
                justify-content: space-between;
            }
        }
    }

    &.footer-2 {
        & > div {
            justify-content: space-between;
        }
        a {
            @include create-typography(0.5rem, 0.6875rem, $nunito-sans-font, 200, $heading-color);
            padding-top: 0.625rem;
            padding-bottom: 0.625rem;
            text-decoration: none;

            @include media-breakpoint-up(md) {
                &.privacy {
                    padding-left: 0.75rem;
                }
            }
        }
    }
}
